<br/>
<div class="row">
  <div class="col-sm-12">
  <% if @question %>
    <h3><%= @question.title %></h3>
    <p><%= sanitize(@markdown.render(@question.description)) %></p>
    <p class="question-user">user: <%= User.where(id: @question.user_id).first.username %></p>
    <div class="row">
      <div class="col-sm-4 d-flex">
        <% if @question.user == current_user %>
          <%= button_to "Edit Question", { action: "edit" }, class: "btn btn-secondary", method: "get" %>
          <%= button_to "Delete Question", { action: "destroy" }, class: "btn btn-danger del-btn", method: "delete", data: { confirm: "Are you sure you want to delete this question?" } %>
        <% end %>
      </div>
      <div class="col-sm-8"></div>
    </div>
    <br></br>
    <div class="row">
      <div class="col-sm-8">
        <%= form_with model: [@question, @response] do |f|%>
          <div class="form-group">
            <div class="control-label">
              <%= f.label :body,'Submit Response' %>
              <%= f.text_area :body, class: "form-control"%>
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div class="control-label">
            <%= f.submit "Submit Response", class:"btn btn-success"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-8">
        <% if @responses %>
        <h4>Responses</h4>
          <% @responses.each do |response| %>
            <ul id="responses-ul">
              <li class="response-li-group">
                <p class="response-p"><%= sanitize(@markdown.render(response.body)) %></p>
                <% if response.user == current_user %>
                  <div class="row">
                    <div class="col-sm-4 d-flex">
                    <%= button_to "Edit Response", edit_question_response_path(@question, response), class: "btn btn-secondary", method: "get" %>
                    <%= button_to "Delete Response", question_response_path(@question, response), class: "btn btn-danger del-btn", method: "delete", data: { confirm: "Are you sure you want to delete this response?" } %>
                    </div>
                  </div>
                <% end %>
                <p class="response-user">user: <%= User.where(id: response.user).first.username %></p>
                <div class="row justify-content-start">
                  <div class="col-sm-8">
                    <%= link_to image_tag("up-arrow.jpg", size: "30x30"), vote_for_answer_question_response_path(@question, response), class: "up-arrow ml-3", method: "post" %>
                    <p class="response-ranking mb-0"><%= "Votes: #{response.ranking || 0}" %></p>
                    <%= link_to image_tag("down-arrow.jpg", size: "30x30"), vote_against_answer_question_response_path(@question, response), class: "down-arrow ml-3", method: "post" %>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <div class="col-sm-6"></div>
    </div>
  </div>
</div>
