<br/>
<div class="row">
  <div class="col-sm-12">
<% if @question %>
  <h3><%= @question.title %></h3>
  <p><%= @question.description %></p>
  <br></br>
  <%= form_with model: [@question, @response] do |f|%>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :body,'Submit Response' %>
    </div>
    <div class="control-label col-sm-8">
      <%= f.text_area :body, class: "form-control"%>
    </div>
  </div>
    <br/>
  <div class="form-group">
    <div class="col-sm-8">
    <%= f.submit "Submit", class:"btn btn-primary"%>
    </div>
  </div>
  <% end %>
  <br/>
  <% if @responses %>
    <% @responses.each do |response| %>
      <ul>
        <li><%= "#{response.id}. #{response.body}" %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>
  </div>
</div>
