<!DOCTYPE html>
<html>
  <head>
    <title>RescueMission</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div id="body" class="container-fluid ml-0">
      <div class="row justify-content-center" align="center">
        <div class="col-sm-8">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>">
              <%= value %><a href="#" class="close" data-dismiss="alert">×</a>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
